<div class="fs col-md-12">
    <div class="col-md-12 bg-primary">
        <!--<h3>My message publisher</h3>-->
        <h3 class="text-center">Hi {{ currentUser.message }}!</h3>

        <div class="block">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <textarea [(ngModel)]="newTweet" placeholder="What's happening?" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-9">
                    <button class="btn btn-primary" (click)=" addTweet() ">Tweet</button>
                </div>
            </div>
            <div class="stream-container col-md-8 col-md-offset-2">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    </div>
                    <button type="submit" class="btn btn-default">Send invitation</button>
                </div>

                <div class="form-group" *ngFor="let i of tweets; let id=index ">
                    <p>{{i}}</p>
                    <button class="btn btn-danger" (click)="removeTweet(id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>